input{
  border: none;
  border-bottom: 2px solid;
  margin: 1%;
  border-radius: 0px;
  background-color: transparent;
}


button.add{
  border: none;
  color: black;
  background-color: #3CBE67;
  max-width: 100px;
  max-height: 50px;
  border-radius: 15px;
}

.newTask{
  text-align: center;
  padding: 0 10% 0 10%;
  font-family: 'Roboto';
}

h2{
  margin-top: 2%;
  font-family: 'Oswald';
}

button.current {
  padding: 5px 0 5px 0;
  max-width: 100px;
  border: none;
  border-radius: 15px;
  color: black;
  background-color: #74869C;
}
